@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

/*Other Tags*/
body {
    background-color: black;
    margin: 0;
    width: 100%;
    font-family: 'Philosopher';
    color:  rgb(255, 255, 255, 80%);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255, 80%);
    margin-right: 20px; 
}

a:hover {
    transition-duration: 0.5s;
    font-size: 30px;
    color:  rgb(255, 255, 255, 90%);
}
/*End of Other Tags*/


/*Header*/
header {
    background: url(images/radiant_dire5\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    font-family: 'Philosopher';
    color:  rgb(255, 255, 255, 80%);
    font-size: 25px;
    
    margin-bottom: 400px;
}

header > * {
    display: inline-block;
}

header > .p-phrase { 
    float: right;
    margin-top: 740px;
    height: 200px;
    width: 500px;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    padding-left: 40px;
    border-top-left-radius: 100px;
}

.p-phrase:hover {
    transition-duration: 0.5s;
    box-shadow: -39px -39px 88px 17px rgba(15, 15, 15, 0.47);
    height: 250px;
    margin-top: 690px;
}

header > nav {
    margin-left: 70px;
}
/*End of Header*/


/*Main*/

h1 { 
    color:  rgb(255, 255, 255, 80%);
    margin-left: 150px;
    width: 100px;
    display: inline-block;
}

.space {
    margin-top: 300px;
    margin-bottom: 300px;
    background-image: url(images/before_footer\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

/*Guide*/
.a_guide {
    color:  rgb(255, 255, 255, 40%);
    margin-right: 150px;
    float: right;
} 

.a_guide:hover {
    transition-duration: 0.5s;
    font-size: 20px;
    color:  rgb(255, 255, 255, 90%);
}

.guide {
    background-color: rgb(40, 38, 38);
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.guide_title {
    display: block;
    text-align: center;
}

.guide_title > p {
    float: left;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 50px;
    font-size: 20px;
}

.tools_set {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    margin-top: 150px;
    margin-left: 80px;
}

.guide:hover {
    transition-duration: 1s;
    box-shadow: 1px 2px 32px 42px rgba(229, 234, 238, 0.2);
    background-color: rgb(39, 38, 38);
    width: 95%;
}
/*End of Guide*/

/*Story*/
.h1_story {
    color:  rgb(255, 255, 255, 80%);
    margin-left: 400px;
    margin-bottom: 30px;
    width: 600px;
    display: inline-block;
}
.a_story {
    color:  rgb(255, 255, 255, 40%);
    margin-right: 400px;
    float: right;
} 

.a_story:hover {
    transition-duration: 0.5s;
    font-size: 20px;
    color:  rgb(255, 255, 255, 90%);
}

.story {
    text-align: center;
    background-color: rgb(40, 38, 38);
    width: 60%;
    padding: 50px;
    margin:0 auto;
    border-radius: 40px;
}
.story > p {
    width: 840px;
    margin:0 auto;
    font-size: 20px;
}

.story:hover {
    transition-duration: 2s;
    box-shadow: 1px 2px 32px 42px rgba(229, 234, 238, 0.2);
    background-image: url(images/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    color:  rgb(255, 255, 255, 85%);

}

/*End of Story*/

/*End of Main*/

/*Footer*/
footer { 
    margin-top: 300px;
    background-image: url(images/footer\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
/*End of Footer*/